.div1{
    display: flex;
    justify-content: center;
    gap: 45px;

    
}

html{
   height: 100%;

}
body{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}

*{
    background-color: #39444d;
}

.btn{
    border-style: solid;
    border-radius: 5px;
    border-color: #24292e;
}